<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sopan.brainmaster" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myAppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity
            android:name=".Select"
            android:label="@string/title_activity_select" >
        </activity>
        <activity
            android:name=".MathsChoice"
            android:label="@string/title_activity_maths_choice" >
        </activity>
        <activity
            android:name=".gkchoice"
            android:label="@string/title_activity_gkchoice" >
        </activity>
        <activity
            android:name=".basicmaths"
            android:label="@string/title_activity_basicmaths" >
        </activity>
        <activity
            android:name=".basicgk"
            android:label="@string/title_activity_basicgk" >
        </activity>
        <activity
            android:name=".inst"
            android:label="@string/title_activity_inst" >
        </activity>
    </application>

</manifest>
